h1
{
text-align:center;
color:barkblue;
}
#aim li
{
display:inline;
margin:50px;
}
#arg
{
object-fit:cover;
width:100%
}
#mom
{
text-align:center;
}
a
{
text-decoration:none;
}
#about
{
display:flex;
max-width:800px;
margin:0 auto;
border-radius:5px;
}
#s
{
width:50%;
}
#v
{
width:50%;
}
#r
{
border-radius:10px;
margin:20px;
width:100%;
}
h2
{
text-align:center;
}
#f
{
max-width:800px;
margin:0 auto;
margin-bottom:0;
}
.location
{
float:right;
}
#m li
{
display:inline;
margin:20px;
}
#n
{
background-color:ghostwhite;
padding:30px;
text-align:center;
margin:50px;
}
#t
{
margin-bottom:0;
}
body
{
padding:0;
margin:0;
}
