body
{
margin:0px;
padding:0px;
font-family:sans-sarif;
}
#navbar
{
padding:8px;
}
#banners
{
object-fit:cover;
}
h1
{
text-align:center;
color:darkblue;
}
#banners
{
margin:0 auto;
width:100%;
height:400px;
border:2px solid black;
}
.location
{
color:gray;
}
.aim
{
width:350px;

}
#about
{
display:flex;
max-width:800px;
margin:0 auto;
}
#s
{
width:50%;
}
#team
{
width:50%;

}
#teamimage
{
border-radius:10px;
margin:20px;
width:100%;
}
h2
{
text-align:center;
}
#jobs
{
max-width:800px;
margin:0 auto;
}
h3
{
margin-bottom:0px;
}
.apply
{
float:right;
}
a{
text-decoration:none;
}
#man{
background-color:ghostwhite;
padding:8px;
margin:32px;
text-align:center;
}
#san li
{
display:inline;
margin:0 16px;
list-style:none;

}